.idea
__pycache__
audios
checkpoint
separation_result
separated_audio.wav
evaluation/data
lightning_logs
tf_logs
statistics
research/separated
logs
eval_logs
checkpoints
!checkpoints/final
wandb
research/ww-img
research/ontology.json
research/dota2_mixtures